<div class = "header">
<%= render partial: 'layouts/header' %>
</div>

<%= render 'form' %>
 <div class = "footer">
<%= render partial: 'layouts/footer' %>
</div>
<%= render partial: 'layouts/script' %>